.infoCardContainer{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;

}
.infoCardContainer--vintage {
    background-color: #EDCFD1;
    font-weight: bold;
    color: #000;;
  }

  .infoCardContainer--vintage:hover{
      background-color: #fff;
  }
.infoCardContainer--metal {
    
    background-color: #e1e1e1;
    
  }